<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Python App</title>
<link rel="shortcut icon"
	href="{{ url_for('static',filename='images/database.png') }}"
	type="image/png">
<link rel="stylesheet" type="text/css"
	href="{{ url_for('static',filename='styles/main.css') }}" />
</head>
<body>
	<div id="header">Header</div>
	<div id="leftSidebar">
		<h1>Tables</h1>
		{% for table in tables_list %} {% for colum_name in table %}
		<p>
			<a href="/{{ table[colum_name] }}">{{
				table[colum_name].capitalize() }}</a>
		</p>
		{% endfor %} {% endfor %}
	</div>
	<div id="main">{{ tables_listlite }}</div>
	<div id="rightSidebar">RightSidebar</div>
	<div id="footer">Footer</div>
</body>
</html>