<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Python App</title>
<link rel="shortcut icon"
	href="{{ url_for('static',filename='images/database.png') }}"
	type="image/png">
<link rel="stylesheet" type="text/css"
	href="{{ url_for('static',filename='styles/main.css') }}" />
</head>
<body>
	<div id="header">
		<p>
			<a href="/download/{{ table_name }}">Save result</a>
		</p>
		<p>
			<a href="/">Go home.</a>
		</p>
	</div>
	<div id="leftSidebar">
		<h1>Tables</h1>
		{% for table in tables_list %} {% for colum_name in table %}
		<p>
			<a href="/{{ table[colum_name] }}">{{
				table[colum_name].capitalize() }}</a>
		</p>
		{% endfor %} {% endfor %}
	</div>
	<div id="main">
		<table border=1>
			<thead>
				<tr>
					{% for colum_name in table[0] %}
					<th>{{ colum_name.capitalize() }}</th> {% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in table %}
				<tr>
					{% for colum_name in row %} {% if (row[colum_name] == None) %}
					<td></td> {%else%}
					<td>{{row[colum_name]}}</td> {% endif %} {% endfor %}
				</tr>
				{% endfor %}
			<tbody>
		</table>
	</div>
	<div id="rightSidebar">
		<h1>Сolumns</h1>
		<form action="/{{ table_name }}" method="post">
			{% for colum_name in table[0] %} <input
				id="{{ colum_name }}" type="checkbox" name="{{ colum_name }}"> <label
				for="{{ colum_name }}">{{colum_name.capitalize() }}</label> <br> {% endfor
			%}
			<p>
				<input type="submit" value="Show" />
			</p>
		</form>
	</div>
	<div id="footer"></div>
</body>
</html>