@charset "UTF-8";

body {
  height: 100vh;
}

#header {
	height: 20%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: #ccc;
}

#leftSidebar {
	box-sizing: border-box;
	height: 60%;
	width: 13%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: #ff80ff;
	float: left;
}

#main {
	box-sizing: border-box;
	height: 60%;
	width: 63%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: #eee;
	float: left;
	overflow: scroll
}

#rightSidebar {
	box-sizing: border-box;
	height: 60%;
	width: 17%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: #ff80ff;
	float: left;
}

#footer {
	height: 12.5%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: #ccc;
	clear: both;
}