@charset "UTF-8";

body {
  height: 100vh;
  background-color: rgb(217, 255, 253);
}

#header {
	height: 20%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: rgb(187, 196, 255);
}

#leftSidebar {
	box-sizing: border-box;
	height: 60%;
	width: 13%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: rgb(255, 255, 210);
	float: left;
}

#main {
	box-sizing: border-box;
	height: 60%;
	width: 63%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: rgb(197, 251, 189);
	float: left;
	overflow: scroll
}

#rightSidebar {
	box-sizing: border-box;
	height: 60%;
	width: 17%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: rgb(255, 255, 210);
	float: left;
}

#footer {
	height: 12.5%;
	margin: 1%;
	border: 1px solid black;
	font-size: 20px;
	background-color: rgb(187, 196, 255);
	clear: both;
}